@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.homepageContainer {
    height: 85vh;
    background-color: #DCDCDC;
}
.introOfMe {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 2em;
}
.introOfMe h4 {
    font-size: 20px;
    color: #84bb8c;
    margin: 0;
    font-family: 'Josefin Sans';
}
.introOfMe h2 {
    font-size: 80px;
    margin: 0;
    font-family: 'Playfair Display';
}
.detailOfMe {
    height: 30vh;
    margin-left: 2em;
}
.detailOfMe p{
    font-size: 30px;
    margin: 0;
    padding-top: 1em;
    color: #3a413b;
    font-family: 'Dosis';
}
.detailOfMe a{
    text-decoration: none;
    color: #3a413b;
    background: rgb(180, 178, 178);
    background: linear-gradient( rgb(180, 178, 178) , rgb(180, 178, 178)) #DCDCDC no-repeat 0 0;
    background-size: 100% 50%;
    background-position: 0% 140%;
    transition:all .5s ease;
}
.communicator:hover{
    background: linear-gradient( rgb(218, 32, 69) , rgb(218, 32, 69)) #DCDCDC no-repeat 0 0;
    background-size: 0 50%;
    background-position: 0% 140%;
}
.agile:hover{
    background: linear-gradient( rgb(116, 224, 80) , rgb(116, 224, 80)) #DCDCDC no-repeat 0 0;
    background-size: 0 50%;
    background-position: 0% 140%;
}
.languages:hover{
    background: linear-gradient( rgb(70, 147, 219) , rgb(70, 147, 219)) #DCDCDC no-repeat 0 0;
    background-size: 0 50%;
    background-position: 0% 140%;
}


@media only screen and (max-width: 770px) {
    
}

@media only screen and (max-width: 430px) {
    
}