.NavigationContainer {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 24, 26);
    font-family: "Poppins";
}
.nameContainer {
    color: #fff;
    font-size: 25px;
    margin-left: 2em;
}
.menuContainer {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 2em;
}
.menuContainer h4 {
    color: #fff;
    font-weight: 300;
    padding: .3em .5em;
    cursor: pointer;
}
.menuContainer a {
    color: #fff;
    text-decoration: none;
    margin-right: 1em;
    padding: .3em .5em;
}
.menuContainer h4:hover, .menuContainer a:hover {
    border: 1px soild rgba(255, 255, 255, 1);
    color: rgb(95, 95, 95);
    transition: .3s;
}

@media only screen and (max-width: 430px) {
    .nameContainer {
        margin-left: 1em;
    }
    .menuContainer {
        margin-right: 0;
    }
}