.workContainer {
    width: 100%;
    height: 100vh;
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}
.workContainer h3 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
}
.projectsOutlier {
    display: flex;
    align-items: center;
}
.moveLeft, .moveRight {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}
.projectsContainerCover {
    margin: 3em 5em;
    overflow: hidden;
    width: 150vh;
    height: 50vh;
}
.projectsContainer {
    width: 300vh;
    height: 50vh;
    display: flex;
    transition: all .5s;
}
.projectsContainer a {
    text-decoration: none;
}
.project1 {
    background-image: url("../media/to-do-list-apps.png");
}
.project2 {
    background-image: url("../media/calendar.png");
}
.project3 {
    background-image: url("../media/coin.png");
}
.project4 {
    background-image: url("../media/netflex.png");
}
.project5 {
    background-image: url("../media/apple.png");
}
.project6 {
    background-image: url("../media/twitter.png");
}
.project1, .project2, .project3, .project4, .project5, .project6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45vh;
    height: 45vh;
    margin: 2.5vh;
    border-radius: 1.5em;
    box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 5.5px 10px rgba(255, 255, 255, 0.06),
    0 4.3px 17.9px rgba(255, 255, 255, 0.072),
    0 4.8px 23.4px rgba(255, 255, 255, 0.086),
    0 5px 20px rgba(255, 255, 255, 0.12);
}
.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover, .project6:hover {
    box-shadow: none;
    transition: 1s;
}
.coverProject {
    width: 45vh;
    height: 45vh;
    border-radius: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.coverProject:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: .5s;
}
.coverProject h4 {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    margin-bottom: 1em;
}

@media only screen and (max-width: 770px) {
    .projectsContainerCover {
        width: 50vh;
        height: 50vh;
    }
}

@media only screen and (max-width: 430px) {
    .projectsContainerCover {
        width: 30vh;
        height: 30vh;
        margin: 1em;
    }
    .projectsContainer {
        width: 180vh;
        height: 30vh;
    }
    .project1, .project2, .project3, .project4, .project5, .project6 {
        width: 25vh;
        height: 25vh;
    }
    .coverProject {
        width: 25vh;
        height: 25vh;
    }
}

@media only screen and (max-width: 330px) {
    .workContainer h3 {
        font-size: 20px;
    }
}